/* Note: You can write Sass in this file. */

/* Header & footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.footer {
  bottom: 0;
  height: 3rem;
  position: absolute;
}
